@model IEnumerable<AcademiaIgor.Models.EmpresaModels>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Empresa</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar Nova Empresa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> 
                <a class="btn btn-primary"asp-action="Details" asp-route-id="@item.Codigo">Detalhes</a> 
                <a class="btn btn-danger"asp-action="Delete" asp-route-id="@item.Codigo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
