@model IEnumerable<AcademiaIgor.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Pessoas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantideDeFilhos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.situação)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantideDeFilhos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.situação)
                </td>
                <td>
                    <a asp-action="AlterarStatus" asp-route-id="@item.Codigo">| Alterar</a>
                    <a asp-action="Details" asp-route-id="@item.Codigo">| Details</a>
                    @if (item.situação.Equals("Ativo"))
                    {
                        <div class="d-inline" style="color: rgb(150,150,150);"><u>| Delete</u></div>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.Codigo">| Delete</a>
                    }
                    @if (item.situação.Equals("Desativado"))
                    {
                        <div class="d-inline" style="color: rgb(150,150,150);"><u>| Edit</u></div>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.Codigo">| Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
